<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mybatis.mapper.DeliveryCommentMapper">

<cache />

<insert id="insertDeliveryComment" parameterType="DeliveryComment">
      <selectKey keyProperty="commentId" resultType="int" order="BEFORE">
         SELECT deliverycomment_Seq.nextval AS commentId FROM DUAL
      </selectKey>
      INSERT INTO DELIVERYCOMMENT (commentId, userId, postId, comments, choice)
      VALUES (#{commentId}, #{userId}, #{postId}, #{comments}, 'n') 
 </insert>

<!-- 댓글이 선택되면 choice를 'n'에서 'y'로 변경 -->
<update id="updateChooseComment" parameterType="int">
		UPDATE DELIVERYCOMMENT 
		SET choice='y'
		WHERE commentId= #{commentId}
</update>

</mapper>

