<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.mybatis.mapper.OrderInfoMapper">
	<cache />

  	<insert id="insertOrder" parameterType="OrderInfo">
	<selectKey keyProperty="orderId" resultType="int" order="BEFORE">
		SELECT orderId_Seq.nextval AS userId FROM DUAL
	</selectKey>
    	INSERT INTO ORDERINFO (ORDERID, ITEMID, USERID, QUANTITY, ORDERDATE)
    	VALUES(1, #{itemId}, #{userId}, #{quantity}, #{orderDate, jdbcType=TIMESTAMP})
    	<!-- VALUES(#{orderId}, #{itemId}, #{userId}, #{quantity}, #{orderDate, jdbcType=TIMESTAMP}) -->
    </insert>

	<select id="getOrdersByUserId" parameterType="int" resultType="OrderInfo">
    	SELECT *
    	FROM ORDERINFO
		WHERE USERID = #{userId}
  	</select>
  	
  	<select id="getOrdersByItemId" parameterType="int" resultType="OrderInfo">
    	SELECT *
    	FROM ORDERINFO
		WHERE ITEMID = #{itemId}
  	</select>
	
	<select id="getOrder" parameterType="int" resultType="OrderInfo">
    	SELECT *
    	FROM ORDERINFO
		WHERE ORDERID = #{orderId}
  	</select>
  	
</mapper>