<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mybatis.mapper.SellCommentMapper">
	<cache />

	<insert id="insertSellComment" parameterType="SellComment">
    	<selectKey keyProperty="commentId" resultType="int" order="BEFORE">
        	SELECT sellcommentId_Seq.nextval AS commentId FROM DUAL
    	</selectKey>
      	INSERT INTO SELLCOMMENT (commentId, userId, postId, comment)
     	VALUES (#{commentId}, #{userId}, #{postId}, #{comment})
  	</insert>
</mapper>
