<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.mybatis.mapper.UserInfoMapper">
  <cache />
  
  <!--  이메일검증, 닉네임 검증 확인 -->
	
	<sql id="UserColumns">
		userId AS userId,
		payment AS payment,
		address AS address,
		phone AS phone, 
		password AS password,
		nickname AS nickname,
		name AS name,
		email AS email 
	</sql>

  <select id="getUserByUserId" parameterType="int" resultType="UserInfo">
    SELECT <include refid="UserColumns"/>
             FROM USERINFO
    WHERE USERID = #{userId}
  </select>
  
  <select id="getUserByUserNickname" parameterType="String" resultType="UserInfo">
    SELECT <include refid="UserColumns"/>
             FROM USERINFO
    WHERE NICKNAME = #{nickname}
  </select>
  
  <select id="getUserByUserEmail" parameterType="String" resultType="UserInfo">
    SELECT <include refid="UserColumns"/>
             FROM USERINFO
    WHERE EMAIL = #{email}
  </select>

  <update id="updateUser" parameterType="UserInfo">
    UPDATE USERINFO
    SET
      NICKNAME = #{nickname},
      PASSWORD = #{password},
      ADDRESS = #{address},
      PHONE = #{phone},
      PAYMENT = #{payment}
     
    WHERE EMAIL = #{email}
    <!-- WHERE USERID = #{userid} -->
  </update>


	 <insert id="insertUser" parameterType="UserInfo">
		<selectKey keyProperty="userId" resultType="int" order="BEFORE">
					SELECT USERID_SEQ.nextval AS userId FROM DUAL
		</selectKey>
		    INSERT INTO USERINFO
		      (USERID, PAYMENT, ADDRESS, PHONE, PASSWORD, NICKNAME, NAME, EMAIL)
		    VALUES
		      (#{userId}, #{payment}, #{address}, #{phone}, #{password}, #{nickname}, #{name}, #{email})
	  </insert>
	
 
	<select id="getPurchaseItemList" parameterType="int" resultType="MyPurchaseResultMap">
	    SELECT s.itemid, s.shoppingCategoryId, s.image, s.memo, s.soldQuantity, s.totalQuantity, 
	    		s.description, s.totalprice, s.price, s.name, o.orderDate
	    FROM ORDERINFO o, SHOPPINGITEM s
	    WHERE o.USERID = #{userId} and o.itemid = s.itemid
	    ORDER BY o.orderDate DESC
	  </select>
	
	
	<select id="getCartItemList" parameterType="int" resultType="MyCartResultMap">
	    SELECT s.itemid, s.shoppingCategoryId, s.image, s.memo, s.soldQuantity, s.totalQuantity,
	    		s.description, s.totalprice, s.price, s.name, c.cartId
	    FROM CART c, SHOPPINGITEM s
	    WHERE c.USERID = #{userId} AND c.itemid = s.itemid
	  </select>
	
	<select id="getMyDeliveryPostList" parameterType="int" resultType="deliveryPost">
	    SELECT *
	             FROM DELIVERYPOST
	    WHERE USERID = #{userId}
	    ORDER BY writtenDate DESC
	  </select>
	
	<select id="getMySellPostList" parameterType="int" resultType="sellpost">
	    SELECT *
	             FROM SELLPOST
	    WHERE USERID = #{userId}
	    ORDER BY writtenDate DESC
	  </select>
	
	  
  
</mapper>