<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<p>타임리프!</p>
	<div class="navbar-header" style="margin-top:20px"> 
			<a class="myPageNav" href="/shop/mypageView.do">마이페이지</a>
			<a class="myPageNav" href="/shop/mypagePurchase.do">구매내역</a>
			<a class="myPageNav" href="/shop/mypageCart.do">찜한 상품</a>
			<a class="myPageNav" href="/shop/mypageDelivery.do">작성한 배달 커뮤니티 글</a>
			<a class="myPageNav" href="/shop/mypageSell.do">작성한 이웃 커뮤니티 글</a>
	</div>
		
</body>
</html>